{% extends "base.html" %}
{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shopping Cart</h1>
                    <p class="lead fw-normal text-white-50 mb-0">View Your Cart</p>
                </div>
            </div>
        </header>
        <br/>
        <div class="container">
        {% if cart_products %}    
            {% for product in cart_product%}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{ Product.image.url }}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <center>
                      <h5 class="card-title">{{ product.name }}</h5>
                      <p class="card-text">{{product.description}}</p>
                      {% if Product.is_sale %}
        
                      {% else %}
                        ${{ product.price }}
                        <br/> ID:{{ product.id }}
                      {% endif %}

                      <br/><br/>
              <div class="row justify-content-center">
                <div class="col-md-2">Quantity:</div>
                <div class="col-md-2">
              <select class="form-select" class="form-selected from-select-sm" id="select{{product.id}}">
                {% for key,value in quantities.item %}
                  {% if key == product.id|slugify %}
                <option selected>{{ value }}</option> 
                  {% endif %} 
                {% endfor %}  
                {% comment %} <option selected>STUFF</option> {% endcomment %}
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="3">4</option>
                <option value="3">5</option>
              </select>
              </div>  
              <br/><br/>
              <a href="{% url 'home'%}" class="btn btn-secondary">Home</a> 
                      <a href="{% url 'home'%}" class="btn btn-secondary">Home</a>
                      <button type="button" value="{{ product.id }}" class="btn btn-secondary" id="add-cart">Add To cart</button>
                      <button type="button" value="{{ product.id }}" class="btn btn-secondary" update-cart>Update</button>
                    </div>
                  </div>
                </div>
              </div> 
            {%  endfor %}
            {% else %}
            There's Nothing in Your Cart...
            <br/><br/><br/><br/>
        {% endif %}    
        </div>
<br/><br/><br/><br/><br/>          
    {% endblock %}   {{product}}

<scripts>
  $(document).on('click','.update-cart',function(e)){
    e.preventDefault();
    var productid = $(this).data('index');
    $.ajax({
      type:'POST',
      url:'{% url 'cart_add' %}',
      data:{
        product_id:$('#add-cart').val(),
        product_qty:$('#qty-cart option:selected').text(),
        csrfmiddlewaretoken:'{{ csrf_token }}',
        action:'post'
      },
      success:function(json){
        document.getElementById("cart_quantity").
        textContent = json.qty
      },
      error:function(xhr,errmsg,err){}
  
    })
</scripts>      